<%- include('../includes/head.ejs') -%>

<body>
    <div class="container">
        <h2>Please Login First</h2>
        <div class="card">
            <form action="/auth/login" method="POST">
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                    
                <button type="submit">Login</button>

            </form>
            <a href="/auth/signup">Not yet Register! Sign Up</a>
        </div>
    </div>
<%- include('../includes/foot.ejs') -%>
